@font-face {
  font-family: "TBC";
  src: url("./assets/fonts/TBC-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "TBC";
  src: url("./assets/fonts/TBC-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "TBC";
  src: url("./assets/fonts/TBC-Semibold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "TBC";
  src: url("./assets/fonts/TBC-Bold.woff") format("woff");
  font-weight: 700;
}

:root {
  --black: #161616;
  --dark-gray: #1a1e1f;
  --gray: #2b2b2b;
  --light-gray: #aaaaaa;
  --white: #f4f4f4;
  --dark-cyan: #0080b0;
  --cyan: #00a3e0;
  --light-cyan: #00aef3;
  --extra-light-cyan: #00aeef;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px red solid; */
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "TBC", Arial, Helvetica, sans-serif;
}

.no-scroll {
  overflow: hidden;
}

/* desktop nav */

.nav-logo {
  width: 18.2rem;
  height: 4rem;
}

.navbar {
  height: 8.4rem;
  background-color: var(--dark-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: background-color 0.3s ease-in-out, top 0.3s ease-in-out;
}

nav.sticky {
  background-color: #222222f2;
  transition: background-color 0.3s ease-in-out, top 0.3s ease-in-out;
}

.nav-container {
  width: 98rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  width: 45.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  font-size: 1.4rem;
  padding: 0 2.4rem;
  list-style: none;
  color: var(--white);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  white-space: nowrap;
}

.nav-link.active {
  color: var(--cyan);
}

.nav-link:hover {
  color: var(--cyan);
  transition: color 0.3s ease-in-out;
}

/* mobile nav */
.hamburger-menu-logo {
  width: 9vw;
  height: 9vw;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  display: none;
}

.hamburger-menu-logo .first-line {
  grid-column: 1/2;
  height: 0.7vw;
  background-color: var(--white);
  border-radius: 1.5rem;
}

.hamburger-menu-logo .second-line {
  grid-column: 1/3;
  height: 0.7vw;
  background-color: var(--white);
  border-radius: 1.5rem;
}

.hamburger-menu-logo .third-line {
  grid-column: 2 / 3;
  height: 0.7vw;
  background-color: var(--white);
  border-radius: 1.5rem;
}

.hamburger-menu-overlay {
  width: 100%;
  height: 100vh;
  background-color: #1616169e;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out;
}

.hamburger-menu.open .hamburger-menu-overlay {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-out;
}

.hamburger-menu-nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  overflow: hidden;
  opacity: 0;
  height: 100vh;
  background-color: rgb(34, 34, 34);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 9vw;
  padding: 1.8em 1.5em 0 0;
  /* daketva */
  transition: width 0.6s ease-out, opacity 0.3s ease-out;
}

.hamburger-menu.open .hamburger-menu-nav-menu {
  width: 62vw;
  opacity: 1;
  overflow: auto;
  /* gaxsna */
  transition: width 0.3s ease-out, opacity 0.6s ease-out;
}

.hamburger-menu-nav-menu .hamburger-menu-logo {
  margin-bottom: 3rem;
}

.hamburger-menu-nav-menu .hamburger-menu-logo .first-line,
.hamburger-menu-nav-menu .hamburger-menu-logo .second-line,
.hamburger-menu-nav-menu .hamburger-menu-logo .third-line {
  background-color: #767676;
  transition: transform 0.3s ease-in-out;
}

.hamburger-menu.open .hamburger-menu-nav-menu .hamburger-menu-logo .first-line {
  transform: rotate(-135deg) translateX(-8px) translateY(-2px);
}

.hamburger-menu.open
  .hamburger-menu-nav-menu
  .hamburger-menu-logo
  .second-line {
  transform: rotate(-45deg);
}

.hamburger-menu.open .hamburger-menu-nav-menu .hamburger-menu-logo .third-line {
  transform: rotate(-135deg) translateX(6px) translateY(3px);
}

.hamburger-menu-nav-menu .nav-link {
  font-size: 4.5vw;
  padding: 0;
}

/* hero section */

.hero-section {
  margin-top: 8.4rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35.2rem;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.hero-text {
  width: 98rem;
  max-width: 100%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-weight: 700;
  line-height: 7rem;
  margin-top: -2rem;
}

.hero-text span:first-child {
  font-size: 4.2rem;
}

.hero-text span:last-child {
  font-size: 3.4rem;
}

.about-course-section {
  width: 100%;
  height: 46.5rem;
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-course-container {
  width: 97rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.about-course-text {
  color: var(--white);
  font-size: 2.8rem;
  line-height: 4.5rem;
}

.learn-more-link {
  color: var(--light-cyan);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.learn-more-link:hover {
  color: var(--light-gray);
  transition: color 0.3s ease-in-out;
}

.course-list-section {
  width: 100%;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.course-list-header {
  width: 98rem;
  max-width: 100%;
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 7rem;
}

.course-list-container {
  width: 98rem;
  max-width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 30rem);
  column-gap: 4rem;
  row-gap: 2.5rem;
  margin-bottom: 6rem;
}

.course-card {
  width: 30rem;
  height: 41.4rem;
  color: var(--white);
  border: 1px solid rgb(85, 85, 85);
  border-radius: 0.6rem;
}

.course-img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.6rem 0.6rem 0 0;
}

.course-card-text-container {
  height: 22.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 0 0 2.4rem;
}

.course-card-header {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.course-card-registering {
  font-size: 1.4rem;
}

.course-card-details-link-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.course-card-details-link {
  color: var(--extra-light-cyan);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.course-card-details-link:hover {
  color: var(--dark-cyan);
  transition: color 0.3s ease-in-out;
}

/* slider  */
.slider-section {
  height: 36.5rem;
  background-color: var(--gray);
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-header {
  width: 98rem;
  max-width: 100%;
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 10rem;
}

.slider {
  position: relative;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
}

.slides {
  position: relative;
  width: 98rem;
  max-width: 100%;
}

.slide {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.slide-3 {
  justify-content: center;
}

.slide.active {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.slider-btn {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  filter: invert(99%) sepia(0%) saturate(5358%) hue-rotate(292deg)
    brightness(112%) contrast(80%);
  z-index: 100;
}

.slider-btn-left {
  position: absolute;
  top: 30%;
  left: 9rem;
}

.slider-btn-right {
  transform: rotate(180deg);
  position: absolute;
  top: 30%;
  right: 9rem;
}

.dots {
  position: absolute;
  bottom: -3rem;
  left: calc(50% - 1.6rem);
  /* transform: translateX(-50%); */
  display: flex;
  gap: 1rem;
}

.dot {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: var(--white);
  cursor: pointer;
  /* transition: background-color 0.3s ease-in-out; */
}

/* accordion */
.accordion-section {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
}

.accordion {
  width: 90rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion-header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.7rem;
}

.accordion-header-text {
  color: var(--white);
  font-weight: 400;
}

.accordion-all-questions-link {
  color: var(--light-cyan);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.accordion-all-questions-link.mobile {
  margin-top: 5rem;
  display: none;
}

.accordion-part {
  width: 100%;
  border-bottom: 1px solid rgba(156, 156, 156, 0.26);
  padding: 2.8rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.accordion-question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-question {
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 400;
}

.accordion-arrow.active {
  transform: rotate(180deg);
}

.accordion-answer {
  color: var(--white);
  font-size: 1.4rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  line-height: 3rem;
}

.accordion-answer ul {
  list-style: none;
  padding: 3.5rem 2rem;
}

.accordion-answer strong {
  font-weight: 600;
}

/* footer */
footer {
  width: 100%;
  min-height: 23rem;
  background-color: var(--dark-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.footer-content {
  width: 98rem;
  max-width: 100%;
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr min-content;
}

.footer-content img,
.footer-content div {
  grid-row: 1/2;
}

.footer-content div {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.footer-content p {
  font-size: 1.4rem;
  font-weight: 400;
}

.footer-content p:nth-child(3) {
  align-self: flex-end;
}

.footer-content p:nth-child(4) {
  grid-row: 3/4;
  align-self: flex-end;
}

/* .footer div {
  justify-self: flex-end;
} */

/* .footer-left-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  font-size: 1.4rem;
} */

/* .footer-right-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4rem;
  font-size: 1.4rem;
}

.footer-right-col div {
  display: flex;
  gap: 1rem;
}

.footer-right-col img {
  cursor: pointer;
} */

.footer-btn {
  border: none;
  background-color: var(--light-cyan);
  color: var(--white);
  font-size: 1.6rem;
  font-family: inherit;
  padding: 0.75rem 3rem;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  grid-row: 3/4;
}

.footer-btn:hover {
  background-color: #d5d5d5;
  color: #353131;
}

@media (max-width: 768px) {
  .navbar {
    height: 22vw;
    padding: 0 1.5em;
  }

  .nav-logo {
    width: 40vw;
    height: 10vw;
  }

  .nav-menu {
    display: none;
  }

  .hamburger-menu-logo {
    display: grid;
  }

  .hero-section {
    margin-top: 22vw;
    height: 65vw;
    padding: 0 1.5em;
  }

  .hero-text {
    line-height: 12vw;
  }

  .hero-text span:first-child {
    font-size: 8vw;
  }

  .hero-text span:last-child {
    font-size: 7vw;
  }

  .about-course-section {
    height: 150vw;
    padding: 0 5vw;
  }

  .about-course-text {
    font-size: 5vw;
    line-height: 7.5vw;
  }

  .learn-more-link {
    font-size: 5vw;
  }

  .course-list-section {
    padding: 1.5em;
  }

  .course-list-header {
    font-size: 7vw;
    margin-bottom: 1em;
  }

  .course-list-container {
    grid-template-columns: 85vw;
    row-gap: 5vw;
  }

  .course-card {
    width: 85vw;
    height: 80vw;
  }

  .course-card-header {
    margin-bottom: 3vw;
    font-size: 5vw;
  }

  .course-card-registering {
    font-size: 4vw;
  }

  .course-card-text-container {
    height: 30vw;
    padding: 4vw 0 0 4vw;
  }

  .course-card-details-link {
    font-size: 4vw;
  }

  .right-arrow {
    width: 5vw;
    height: 5vw;
  }

  .slider-section {
    height: 55rem;
    /* padding-left: 3rem; */
  }

  .slider-header {
    /* margin-left: 3rem; */
    padding-left: 3rem;
  }

  .slide {
    height: 30rem;
    flex-direction: column;
    /* justify-content: center; */
    gap: 5rem;
  }

  .slider-btn {
    display: none;
  }

  .dots {
    bottom: -27rem;
  }

  /* accordion */
  .accordion-section {
    padding: 7rem 1.5em;
  }

  .accordion-all-questions-link {
    display: none;
  }

  .accordion-all-questions-link.mobile {
    display: block;
  }

  /* footer */
  footer {
    padding: 2rem 5rem;
  }

  .footer-content {
    grid-template-rows: 2fr 1fr 1fr 1fr;
    height: 30rem;
  }

  .footer-content img {
    grid-template-rows: 1/2;
    align-self: center;
  }

  .footer-btn {
    grid-column: 1/2;
    justify-self: start;
    align-self: center;
    padding: 1rem 2rem;
  }

  .footer-btn,
  .footer-content div {
    grid-row: 2/3;
  }

  .footer-content p {
    font-size: 1.8rem;
  }

  .footer-content p:nth-child(3) {
    white-space: nowrap;
    grid-row: 4/5;
    grid-column: 1/3;
    align-self: center;
  }

  .footer-content p:nth-child(4) {
    grid-row: 3/4;
  }
}
